#whole-page {
    display: grid;
    font-family: "Radley", serif;
}

body {
    background-color: #f2f5fa;
}

#header {
    text-align: center;
    font-size: 75px;
    margin-bottom: 20px;
    margin-top: 10px;
}

 h2 {
    margin-top: 5px;
    text-align: center;
 }

#contact-info {
    text-align: center;

    & span {
        margin: 110px;
    }
}

#middle-section {
    display: flex;
    justify-content: space-between;
}

button {
    display: block;
    margin: 30px;
    padding: 7px 35px;
    font: 300 150% langdon;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    width: 400px;
    opacity: 1;
    transition: 0.3s;
}

button:hover {
    /* background-color: #f2f5fa; */
    opacity: 0.6;
}

#button-menu {
    align-content: space-evenly;
}

#left-img {
    margin-left: 30px;
}

#right-img {
    margin-right: 30px
}
